[colors]
bg = #272822
fg = #F8F8F2

# Normal colors
black =   #272822
red =     #F92672
green =   #A6E22E
yellow =  #F4BF75
blue =    #66D9EF
magenta = #AE81FF
cyan =    #A1EFE4
white =   #F8F8F2

# Bright colors
bright_black =   #75715E
bright_red =     #F92672
bright_green =   #A6E22E
bright_yellow =  #F4BF75
bright_blue =    #66D9EF
bright_magenta = #AE81FF
bright_cyan =    #A1EFE4
bright_white =   #F9F8F5

low_cyan = #4c566a

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 20
background = ${colors.bg}
foreground = ${colors.fg}
font-0 = ComicCode Nerd Font:style=Bold:size=10;1
separator = "|"
separator-foreground = ${colors.low_cyan}
modules-left = ewmh xwindow
modules-center =
modules-right = vpn network memory volume cpu battery date time

[module/xwindow]
type = internal/xwindow
label = " %title:0:100:...%"

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-background = ${colors.green}
label-active-foreground = ${colors.bg}
label-occupied = " %name% "
label-occupied-background = ${colors.cyan}
label-occupied-foreground = ${colors.bg}
label-urgent = " %name% "
label-urgent-background = ${colors.magenta}
label-urgent-foreground = ${colors.bg}
label-empty = " %name% "
label-empty-foreground = ${colors.fg}

[module/battery]
type = internal/battery
full-at = 99
low-at = 10
battery = BAT0
adapter = AC0
poll-interval = 5

label-charging-foreground = ${colors.green}
label-charging = " Charging %percentage%% "

label-discharging-foreground = ${colors.yellow}
label-discharging = " Discharging %percentage%% "

label-full-foreground = ${colors.green}
label-full = " Full "

label-low-foreground = ${colors.red}
label-low = " LOW BATTERY "

[module/memory]
type = internal/memory
interval = 3
warn-percentage = 95
label-foreground = ${colors.cyan}
label = " %gb_used%/%gb_total% "
label-warn-foreground = ${colors.magenta}
label-warn = " %gb_used%/%gb_total% "

[module/date]
type = internal/date
date = " %a, %b %d "
format-foreground = ${colors.magenta}

[module/time]
type = internal/date
date = " %I:%M %p "

[module/cpu]
type = internal/cpu
interval = 0.5
label = " CPU = %percentage:2%% "
label-foreground = ${colors.cyan}

[module/volume]
type = internal/pulseaudio
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
label-volume = " VOL = %percentage:2%% "
label-volume-foreground = ${colors.cyan}

[module/network]
type = internal/network
interface = wlp1s0
unknown-as-up = true

label-disconnected = " not connected "
label-disconnected-foreground = ${colors.red}
format-disconnected = <label-disconnected>

label-connected = " %{F#a3be8c}↓ %{F#d8dee9}%downspeed:9%%{F#4c566a} | %{F#88c0d0}↑ %{F#d8dee9}%upspeed:9%%{F-} "
format-connected = <label-connected>

[module/vpn]
type = internal/network
interface = tun0
unknown-as-up = true

label-disconnected = " vpn not connected "
label-disconnected-foreground = ${colors.red}
format-disconnected = <label-disconnected>

label-connected = " vpn connected "
label-connected-foreground = ${colors.green}
format-connected = <label-connected>

