[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[92D46289D4627001]
row=1
col=0

[B67C166E7C16299F]
row=0
col=0

[129F-2ABC]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/katams]
row=4
col=0

